#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-gtk=gtk3 \
		--enable-icon-browser \
		--enable-html
