Source: macesque-taskmanager
Section: kde
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 qt6-declarative-dev,
 qt6-base-dev,
 qt6-svg-dev,
 qt6-5compat-dev,
 qt6-shadertools-dev,
 libkf6config-dev,
 libkf6coreaddons-dev,
 libkf6dbusaddons-dev,
 libkf6declarative-dev,
 libkf6guiaddons-dev,
 libkf6i18n-dev,
 libkf6kcmutils-dev,
 libkf6kio-dev,
 libkf6newstuff-dev,
 libkf6notifications-dev,
 libkf6notifyconfig-dev,
 libkf6package-dev,
 libkf6svg-dev,
 libkf6widgetsaddons-dev,
 libkf6xmlgui-dev,
 libplasma-dev,
 libplasmaactivities-dev,
 libplasmaactivitiesstats-dev,
 plasma-workspace-dev,
 kwin-dev,
 libksysguard-dev,
 kded6-dev
Standards-Version: 4.7.4
Homepage: https://github.com/snpynk/macesque-taskmanager
Rules-Requires-Root: no

Package: kde-macesque-taskmanager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Macesque Taskbar
 A macOS-flavored task manager applet for KDE Plasma, based on the upstream
 Plasma Task Manager. Minimized (or otherwise eligible) windows are rendered
 as live-captured window thumbnails right inside the task bar, dock-style.
