Source: iqpuzzle
Section: games
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 qt6-base-dev,
 qmake6,
 pkg-config
Standards-Version: 4.7.4
Homepage: https://elth0r0.codeberg.page/iqpuzzle/

Package: iqpuzzle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iqpuzzle-data
Description: A diverting I.Q. challenging puzzle
 Pentominos are used as puzzle pieces and currently
 47 different board shapes are available, which have
 to be filled with them.

Package: iqpuzzle-data
Architecture: all
Replaces: iqpuzzle (<< 0.9.0)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A diverting I.Q. challenging puzzle
 Data files for iqpuzzle.
