Source: xul-ext-locationbar-enhancer
Section: web
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8), mozilla-devscripts (>= 0.19~)
Standards-Version: 3.9.4
Homepage: https://addons.mozilla.org/en-US/firefox/addon/ui-enhancer/

Package: xul-ext-locationbar-enhancer
Architecture: all
Recommends: ${xpi:Recommends}
Provides: ${xpi:Provides}
Breaks: ${xpi:Breaks}
Enhances: ${xpi:Enhances}
Depends: ${misc:Depends}, ${xpi:Depends}
Description: Enhanced locationbar for Iceweasel
 Changes the Location Bar of Firefox into a
 Breadcrumb display with rich and interactive
 features.