Source: zelda-solarus-dx
Section: games
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), cmake, zip
Standards-Version: 3.9.4
Homepage: http://solarus-games.org

Package: zsdx
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zelda-solarus-dx
Description: Transistional package for zelda-solarus-dx
 Transistional package for zelda-solarus-dx

Package: zelda-solarus-dx
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, solarus (>= 1.4.5)
Provides: zsdx
Replaces: zsdx
Description: Zelda Fangame using Solarus engine
 A "The Legend Of Zelda - A Link To The Past"-like Fangame
 using the Solarus OpenSource game engine.
 .
 The Legend of Zelda: Mystery of Solarus DX is set to be a
 direct sequel to "The Legend of Zelda: A Link to the Past"
 on the SNES, using the same graphics and game mechanisms.
 .
 Zelda - Mystery of Solarus DX is the first game made with
 the Solarus engine and in fact, Solarus was primarily designed
 for this game.
