Source: kwin-effect-spotlight
Section: kde
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 kwin-dev,
 qt6-base-dev,
 libkf6kcmutils-dev,
 libkf6coreaddons-dev,
 libkf6i18n-dev,
 libkf6windowsystem-dev,
 libkdecorations3-dev
Standards-Version: 4.7.4
Homepage: https://github.com/jinliu/kwin-effect-spotlight
Rules-Requires-Root: no

Package: kwin-effect-spotlight
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Find My Mouse effect "Spotlight"
 Dims the screen and creates a spotlight to help you find your cursor
