Source: libogc-7zip
Section: devel
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), make
Standards-Version: 3.9.4
Homepage: http://devkitpro.org

Package: libogc-7zip
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libogc, devkitppc
Description: ported 7zip for libOGC
