Source: ascii-design
Section: text
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 qtbase5-dev
Standards-Version: 4.7.4
Homepage: https://github.com/Faster3ck/Ascii-Design

Package: ascii-design
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 figlet
Recommends: figlet-fonts-extra
Description: Design ascii art from plain text
 Ascii Design is an ascii-art program based on figlet engine.
 You can create art based text for many types of decorations
 for web sites, e-mail, text files etc...