Source: xul-ext-image-tools
Section: web
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8), mozilla-devscripts (>= 0.19~)
Standards-Version: 3.9.4
Homepage: https://addons.mozilla.org/en-US/firefox/addon/imagetools/

Package: xul-ext-image-tools
Architecture: all
Recommends: ${xpi:Recommends}
Provides: ${xpi:Provides}
Breaks: ${xpi:Breaks}
Enhances: ${xpi:Enhances}
Depends: ${misc:Depends}, ${xpi:Depends}
Description: Image viewer for Iceweasel
 Add-on extends the way that is used by Iceweasel
 to display standalone images.
 .
 It allows zoomingand rotating images as well as
 displaying all images used on the webpage.
 .
 The color settings of image viewer are customizable.