Package: qt5-configuration-tool
Version: 0.33-1nano
Architecture: amd64
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Installed-Size: 754
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libgl1-mesa-glx | libgl1, libqt5core5a (>= 5.9.0~beta), libqt5dbus5 (>= 5.0.2), libqt5gui5 (>= 5.9.0~beta), libqt5widgets5 (>= 5.2.0~alpha1), libstdc++6 (>= 5), qtbase-abi-5-9-0
Section: x11
Priority: optional
Homepage: http://qt-apps.org/content/show.php/Qt5+Configuration+Tool?content=168066
Description: Tool to change Qt5 settings
 This application allows users to configure Qt5 settings
 (theme, font, icons, etc.) under Desktop Environments or
 WindowManagers without Qt integration or without a settings
 daemon.
