Source: zelda-time-to-triumph
Section: games
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 libsdl2-dev,
 libsdl2-mixer-dev,
 libsdl2-image-dev
Standards-Version: 4.7.4
Homepage: https://www.zeldaroth.fr/us/z3t.php

Package: zelda-time-to-triumph
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Zelda - Time To Triumph (fangame)
 After the events that occured in Termina and the victory
 of the hero on his evil alter-ego, Zelda and Link knew that,
 from the bottom of hell, Ganon the immortal drawed his power
 from his wish to the Triforce, and rounded up his army with
 a view to invade Hyrule. Until the day when, after months
 spent watching out for an attack, an event came up and put
 an end to this endless waiting.

