#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	rm -f Zelda3T
	dh_auto_clean

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/zelda-time-to-triumph/usr/bin/
	mkdir -p $(CURDIR)/debian/zelda-time-to-triumph/usr/share/zelda-time-to-triumph/
	install -m755 $(CURDIR)/debian/zelda3t $(CURDIR)/debian/zelda-time-to-triumph/usr/bin/
	install -m755 $(CURDIR)/Zelda3T $(CURDIR)/debian/zelda-time-to-triumph/usr/share/zelda-time-to-triumph/
	cp -rv $(CURDIR)/data/ $(CURDIR)/debian/zelda-time-to-triumph/usr/share/zelda-time-to-triumph/
