Source: kwin-script-kzones
Section: kde
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: https://github.com/gerritdevriese/kzones

Package: kwin-script-kzones
Architecture: all
Depends: kwin
Replaces: nanolx-themes (<< 4.14.0.20260828)
Description: KDE KWin Script for snapping windows into zones.
 Handy when using a (super) ultrawide monitor, an alternative to PowerToys
 FancyZones and Windows 11 snap layouts.
