Source: zelda-solarus-xd
Section: games
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), cmake, zip
Standards-Version: 3.9.4
Homepage: http://solarus-games.org

Package: zelda-solarus-xd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, solarus (>= 1.5.0)
Provides: zsxd
Replaces: zsxd
Description: Zelda Fangame using Solarus engine
 A "The Legend Of Zelda - A Link To The Past"-like Fangame
 using the Solarus OpenSource game engine.
 .
 Originally a 1st-April-Joke this game features 2 full dungeons.
