Source: qt5-configuration-tool
Section: x11
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 9), g++, qt5-qmake, qtbase5-dev, qttools5-dev-tools,
               libqt5svg5-dev, qtbase5-private-dev
Standards-Version: 3.9.5
Homepage: http://qt-apps.org/content/show.php/Qt5+Configuration+Tool?content=168066

Package: qt5-configuration-tool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to change Qt5 settings
 This application allows users to configure Qt5 settings
 (theme, font, icons, etc.) under Desktop Environments or
 WindowManagers without Qt integration or without a settings
 daemon.
