Source: pixes
Section: misc
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: https://github.com/pixes-app/pixes

Package: pixes
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Unofficial Pixiv app
