#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_install:
	install -d $(CURDIR)/debian/$(PACKAGE)/usr/share/Kvantum/
	cp -r $(CURDIR)/Midnight-Bright-* $(CURDIR)/debian/$(PACKAGE)/usr/share/Kvantum/
