Source: qlementine
Section: devel
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 qt6-base-dev,
 qt6-base-dev-tools,
 qt6-tools-dev,
 qt6-tools-dev-tools,
 qt6-l10n-tools,
 libqt6opengl6-dev,
 libqt6svg6-dev
Standards-Version: 4.7.4
Homepage: https://github.com/oclero/qlementine

Package: qlementine
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Modern QStyle for desktop Qt6 applications.
 This library contains:
 .
 - A custom QStyle named QlementineStyle, that implements all the necessary API to give a
   modern look and feel to your Qt application. It's a drop-in replacement for the default QStyle.
 - Lots of utilities to help you write beautiful QWidgets that fits well with the style.
 - A collection of new QWidgets that are missing in Qt's standard collection, such as Switch.

