Source: zelda-navis-quest
Section: games
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 libsdl2-dev,
 libsdl2-mixer-dev,
 libsdl2-image-dev,
 libsdl2-gfx-dev
Standards-Version: 4.7.4
Homepage: https://www.zeldaroth.fr/us/dlnsq.php

Package: zelda-navis-quest
Replaces: zeldansq
Provides: zeldansq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zelda - Navi's Quest (fangame)
