#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_clean:
	rm -f ZeldaNSQ
	dh_auto_clean

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/zelda-navis-quest/usr/bin/
	mkdir -p $(CURDIR)/debian/zelda-navis-quest/usr/share/zelda-navis-quest/
	install -m755 $(CURDIR)/debian/zeldansq $(CURDIR)/debian/zelda-navis-quest/usr/bin/
	install -m755 ZeldaNSQ $(CURDIR)/debian/zelda-navis-quest/usr/share/zelda-navis-quest/
	cp -rv data/ $(CURDIR)/debian/zelda-navis-quest/usr/share/zelda-navis-quest/
