#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_install:
	install -d $(CURDIR)/debian/$(PACKAGE)/usr/share/kwin/scripts/
	cp -r $(CURDIR)/karousel $(CURDIR)/debian/$(PACKAGE)/usr/share/kwin/scripts/
