Source: devkitppc-amd64
Section: devel
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), make
Standards-Version: 3.9.4
Homepage: http://www.devkitpro.org

Package: devkitppc-amd64
Architecture: amd64
Provides: devkitppc
Depends: ${misc:Depends}
Description: GameCube/Wii Devkit (AMD64)
 Development Kit for PPC - Nintendo Wii & GameCube.
 .
 Basic toolkit for homebrew development on Wii and GC.
 Contains binutils, newlib, GCC & Co.
