#!/usr/bin/make -f
export DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_install:
	dh_install
	mkdir -p $(CURDIR)/debian/solarus-quest-editor/usr/games/
	install -m755 obj-$(DEB_HOST_MULTIARCH)/solarus-quest-editor \
		$(CURDIR)/debian/solarus-quest-editor/usr/games/
