Source: zelda-onilink-begins
Section: games
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 libsdl2-dev,
 libsdl2-mixer-dev,
 libsdl2-image-dev
Standards-Version: 4.7.4
Homepage: https://www.zeldaroth.fr/us/dlolb.php

Package: zelda-onilink-begins
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Zelda - Oni Link Begins (fangame)
 Brought down by a terrible curse since his recent victory on the Dark Lord,
 Link is changing, day by day, into a powerful creature with a destructive
 nature named Oni-Link. Bannished from Hyrule, the young hylian asks the
 princess Zelda some help.
 .
 She shows him his last hope: a portal to a secret world.
