#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_clean:
	rm -f ZeldaOLB
	dh_auto_clean

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/zelda-onilink-begins/usr/bin/
	mkdir -p $(CURDIR)/debian/zelda-onilink-begins/usr/share/zelda-onilink-begins/
	install -m755 $(CURDIR)/debian/zeldaolb $(CURDIR)/debian/zelda-onilink-begins/usr/bin/
	install -m755 $(CURDIR)/ZeldaOLB $(CURDIR)/debian/zelda-onilink-begins/usr/share/zelda-onilink-begins/
	cp -rv $(CURDIR)/data/ $(CURDIR)/debian/zelda-onilink-begins/usr/share/zelda-onilink-begins/
