Source: openrgb
Section: misc
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 pkg-config,
 libusb-1.0-0-dev,
 libhidapi-dev,
 libmbedtls-dev,
 qmake6,
 qt6-base-dev,
 qt6-base-dev-tools,
 qt6-tools-dev
Standards-Version: 4.7.4
Homepage: https://openrgb.org/

Package: openrgb
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 udev
Description: Open source RGB lighting control
 Features
  - Set colors and select effect modes for a wide variety of RGB hardware
  - Save and load profiles
  - Control lighting from third party software using the OpenRGB SDK
  - Command line interface
  - Connect multiple instances of OpenRGB to synchronize lighting across multiple PCs
  - Can operate standalone or in a client/headless server configuration
  - View device information
  - No official/manufacturer software required
  - Graphical view of device LEDs makes creating custom patterns easy
