Source: gtk2-engines-terranova
Section: x11
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 5), autotools-dev, make, gcc, libgtk2.0-dev
Standards-Version: 3.9.4

Package: gtk2-engines-terranova
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TerraNova Gtk+2 Theme Engine
 TN (TerraNova) is a Gtk+2/Cairo Theme Engine,
 that is highly configurable.
 What TN Supports:
 - Random Effects
 - Gradient on the MainWindow
 - Merged Bars [Menu+Toolbar]
 - Engine Schema [for use with Gnome-Color-Chooser]
