#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_install:
	install -d $(CURDIR)/debian/$(PACKAGE)/usr/share/kwin/effects/
	cp -r $(CURDIR)/kwin4_effect_geometry_change \
		$(CURDIR)/debian/$(PACKAGE)/usr/share/kwin/effects/
