Source: zmc
Section: games
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), cmake, zip
Standards-Version: 3.9.4
Homepage: http://solarus-games.org

Package: zmc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, solarus (>= 1.3.0)
Description: Zelda Fangame using Solarus engine
 A "The Legend Of Zelda - A Link To The Past"-like Fangame
 using the Solarus OpenSource game engine.
 .
 The Legend of Zelda: Mercuris Chest is set to be a
 direct sequel to "The Legend of Zelda: A Link to the Past"
 on the SNES, using the same graphics and game mechanisms.
 .
 This game is in beta stage and not yet completed
