Source: kde-thumbnailer-ooxml
Section: kde
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), cmake, kdelibs5-dev, kdebase-workspace-dev
Standards-Version: 3.9.3
Homepage: http://kde-apps.org/content/show.php/KDE+Office+Open+XML+Document+Thumbnailer?content=149048

Package: kde-thumbnailer-ooxml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OOXML Thumbnailer for KDE Applications
 Thumbnailer for KDE Applications (eg: Konqueror, Dolphin),
 to provide extended preview of Office Open XML files (incl.
 DOCX, XLSX, PPTX and PPSX).
