Source: tela-icon-theme-red-dark
Section: x11
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: https://github.com/vinceliuice/Tela-icon-theme

Package: tela-icon-theme-red-dark
Architecture: all
Depends: wayland-protocols | xserver-xorg, tela-icon-theme-red
Replaces: nanolx-themes (<< 4.14.0.20260828)
Description: Tela icon theme
 Red Dark variant