Source: kde-thumbnailer-plasmoid
Section: kde
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8.0.0), cmake, kdelibs5-dev, kdebase-workspace-dev
Standards-Version: 3.9.3
Homepage: http://kde-apps.org/content/show.php/KDE+Plasmoid+Thumbnailer?content=146527

Package: kde-thumbnailer-plasmoid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plasmoid Thumbnailer for KDE Applications
 Thumbnailer for KDE Applications (eg: Konqueror, Dolphin),
 to provide extended preview of Plasmoid files.
