Source: xul-ext-unote
Section: web
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8), mozilla-devscripts (>= 0.19~)
Standards-Version: 3.9.4
Homepage: https://addons.mozilla.org/en-US/firefox/addon/unote/

Package: xul-ext-unote
Architecture: all
Recommends: ${xpi:Recommends}
Provides: ${xpi:Provides}
Breaks: ${xpi:Breaks}
Enhances: ${xpi:Enhances}
Depends: ${misc:Depends}, ${xpi:Depends}
Description: Minimalistic notes
 Take notes for every site you visit.
