#!/usr/bin/make -f

%:
	dh $@ --with-python3

override_dh_auto_install:
	install -d debian/zapzap/usr/share/zapzap
	cp -r zapzap LICENSE README.md requirements.txt pyproject.toml \
		debian/zapzap/usr/share/zapzap/
	find debian/zapzap/usr/share/zapzap -name '__pycache__' -type d -prune \
		-exec rm -rf {} + 2>/dev/null || true
	install -Dm0755 debian/launcher debian/zapzap/usr/bin/zapzap
	install -Dm0644 share/applications/com.rtosta.zapzap.desktop \
		debian/zapzap/usr/share/applications/com.rtosta.zapzap.desktop
	install -Dm0644 share/icons/com.rtosta.zapzap.svg \
		debian/zapzap/usr/share/icons/hicolor/scalable/apps/com.rtosta.zapzap.svg
	install -Dm0644 share/metainfo/com.rtosta.zapzap.appdata.xml \
		debian/zapzap/usr/share/metainfo/com.rtosta.zapzap.appdata.xml
