Package: zelda-navis-quest
Version: 1.8-1nano
Architecture: amd64
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Installed-Size: 27105
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libsdl-gfx1.2-5 (>= 2.0.25), libsdl-image1.2 (>= 1.2.10), libsdl-mixer1.2, libsdl1.2debian (>= 1.2.11), libstdc++6 (>= 5.2)
Replaces: zeldansq
Provides: zeldansq
Section: games
Priority: extra
Homepage: http://www.zeldaroth.fr/us/dlnsq.php
Description: Zelda - Navi's Quest (fangame)
