Source: openrgb-plugin-effects
Section: misc
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13),
 pkg-config,
 qt6-base-dev,
 qt6-base-dev-tools,
 qt6-tools-dev-tools,
 qt6-5compat-dev,
 qmake6,
 libusb-1.0-0-dev,
 libhidapi-dev,
 libmbedtls-dev,
 libopenal-dev,
 libpipewire-0.3-dev
Standards-Version: 4.7.4
Homepage: https://codeberg.org/OpenRGB/OpenRGBEffectsPlugin

Package: openrgb-plugin-effects
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 openrgb
Description: Effects plugin for OpenRGB
 This is a plugin for OpenRGB that provides various effects that can be synced
 across devices.
